.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: 100%;
}

.button {
    background-color: #008cba; /* Green */
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 250px;
    gap: 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.button:disabled {
    opacity: 0.8;
}
.button--reset {
    background-color: darkred;
}